@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* APP */
body {
  background-color: #540300;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  color: white;
  font-family: 'Poppins', sans-serif;
}



/* container */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* todos list */

.title {
  text-align: center;
  font-size: 50px;
  padding-top: 75px;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: 50%;
  font-size: 1.5rem;
  border-radius: 1rem;
  transition: 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.form {
  display: flex;
  gap: 0.5rem;
  width: 50%;
  margin: 1rem auto;
}

.form__input {
  flex: 1;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
}

.mutations {
  display: flex;
  gap: 0.5rem;
}

.todo__status,
.todo__delete {
  border: none;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s;
  background: none;
  color: white;
}

.todo__status:hover,
.todo__delete:hover {
  transform: scale(1.1);
}

.form_button{
  border: none;
  background-color: #b00600;
  cursor: pointer;
  color: white;
  border-radius: .5rem;

  &:hover{
    background-color: #820400 ;
    color: white;
  }
}

/*mobile responsive media query*/
@media (max-width: 420px) {
  .title {
    font-size: 2.5rem;
  }

  .form {
    width: 95%;
  }

  .todo {
    width: 95%;
    font-size: 1.2rem;
  }
}